*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    background-color: #d7edf8;
}
.logo{
    display: inline-block;
}
.logo_text
{
    text-transform: uppercase;
    font-size: 28px;
}
.main{
    background-color: #78c5e3;
}
.article{
    display: inline-block;
}
.nav{
    display: inline-block;
}
ul.nav li{
    display: inline-block;
    padding: 15px;
    list-style: none;
}
ul.nav li a{
    text-decoration: none;
}
ul.nav li:hover{
    background-color: #38b6e7;
    filter: invert(100%);
}
div.social ul li{
    text-align: center;
}







.copyright{
    background-color: #538a9e;
    display: inline;
}