* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.wrapp{
    height: 600px;
    background-color: #ccf;
    background-image: url("004.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}