:root{
    --color1: #30ff00;
    --color2: #ff0095;
    --color3: #0006ff;
    --color4: #ffed00;
    --color5: #00ecff;
    --color6: #00ff92;
    --color7: #0a0808;
    --color8: #ff6e00;
    --color9: #ffc806;
}